<section class="youyan" id="comments">
  <!--<div id="uyan_frame"></div>-->
  <!--<script src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.youyan.id%>"></script>-->
  <div id="SOHUCS"></div>
  <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
  <script type="text/javascript">
    window.changyan.api.config({
      appid: 'cysUyjKoQ',
      conf: 'prod_bc19196c7a2a5953894965521361b2db'
    });
  </script>
</section>